.search-page-container {
  margin: 20px auto;
  width: 95%;
  background: #fff;
  position: relative;
}

.search-field-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 0;

  h4 {
    margin-right: 30px;
  }
}
