.sidebar-container {
  width: 20%;
  min-width: 200px;
  height: 100vh;
  position: fixed;
  border-right: 2px solid rgb(230, 230, 230);
  letter-spacing: 2px;
  background: linear-gradient(#252432b6), url("/img/white_bg.jpg");
  background-position: center top;

  @media screen and(max-width: 1024px) {
    display: none;
  }
}
